*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    scroll-behavior: smooth;
}
#first, #second, #third{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /*взяв з чату*/
    flex-direction: column;
    padding: 0 20px;
}
#first {
    background-color: orangered;
    height: 100vh;
}

#second{
    background-color: aqua;
    height: 100vh;
}
#third{
    background-color: greenyellow;
    height: 100vh;
}
p{
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
h1{
    font-size: 2rem;
    margin-bottom: 2rem;
}
a{
    font-size: 2rem;
    color: black;
    margin: 2rem 0;
}