#wrapp_users{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}


.div_user, .div_post, #wrapp_post {
    /*width: 50vw;*/
    background-color: lightblue;
    border: 1px solid blue;
    padding-left: 10px;
}

a{
    display: block;
    position: relative;
    width: 50%;
    left: 25%;
    background-color: aquamarine;
    text-align: center;
    margin-top: 10px;
    border: 2px solid red;
    border-radius: 5px;
}