.widget, .contact{
    background-color: #216ABB;
}
.widget{
    height: 500px;
}
.contact{
    height: 800px;
}
div{
    align-content: center;
    text-align: center;
    color: white;
    font-size: 50px;
}
.widgets{
    background-color: #16457A;
    width: 500px;
    height: 600px;
}
.wid{
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
