#wrapp_post, .div_comment {
    background-color: lightblue;
    border: 1px solid blue;
    padding-left: 10px;
}
#wrapp_comments {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 20px;
}