#wrapp_posts {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin-top: 20px;
}

#wrapp_user, .div_post{
    background-color: lightblue;
    border: 1px solid blue;
    padding-left: 10px;
}

#post_user{
    font-size: 20px;
    margin: 20px 5vw;
    width: 90vw;
    border: solid 2px blue;
    border-radius: 5px;
    background-color: aquamarine;
}

a{
    display: block;
    position: relative;
    width: 50%;
    left: 25%;
    background-color: aquamarine;
    text-align: center;
    margin-top: 10px;
    border: 2px solid red;
    border-radius: 5px;
}

li{
    padding-left: 40px;
}