*{
    margin: 0;
    padding: 0;
}

.ball{
    width: 200px;
    height: 200px;
    background-color: greenyellow;
    margin: 40vh auto 0 auto;
    border-radius: 50%;
    animation: ball-mov 1s infinite alternate;
}
.shadow{
    width: 150px;
    height: 100px;
    background-color: rgba(53, 53, 53, 0.74);
    margin: 0 auto;
    border-radius: 50%;
    animation: shadow-mov 1s infinite alternate;
}
@keyframes ball-mov {
    from{
        transform: translateY(50px);
    }
    to{
        background-color: aqua;
    }
}
@keyframes shadow-mov {
    from{
        transform: scale(0.2);
    }
    to{
        transform: scale(1.2);
    }
}