*{
    font-size: 20px;
}
.wrap{
    height: 200px;
    width: 200px;
    background-color: aquamarine;
    color: orangered;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.item{
    border: solid 2px black;
    margin: 10px;
}