*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 64px;
}

.wrap, .wraps{
    display: flex;
    gap: 32px;
}

.item{
    width: 271px;
    height: 280px;
}
p.head{
    margin-top: 20px;
    margin-bottom: 10px;
    color: #161543;
    font-size: 20px;
    font-weight: 700;
    line-height: 120%; /* 24px */
}

p{
    color: #7687A1;
    line-height: 140%; /* 22.4px */
}
